# Test
test*

# Big files
data/data_all/
data/data_test/
data/data_train/
data/data_valid/
data/mpd/spotify_million_playlist_dataset/

# Except

# MacOS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class